#
# Experimental Travis CI.
#
# Linux ARM64 target is pinned on the oldest distribution available on Travis,
# thus matching a generic ARM64 Linux build.


language: shell


git:
  depth: false


jobs:
  include:

    - os: linux
      dist: xenial
      arch: arm64

    - os: osx
      osx_image: xcode10.1


install:
  - |
    case $TRAVIS_OS_NAME in
      linux)
        # Only generic 'lnx' is targeted, thus no automatic package management.
        sudo apt install -y unzip
        ;;
      osx)
        # Some Homebrew libs pollute the build.
        sudo chmod a+r /usr/local/opt/libffi/lib/libffi.6.dylib
        ;;
    esac


before_script:
  - ./brink.sh detect_os


script:
  - ./pythia build && ./pythia test && ./pythia compat


notifications:
  email:
    - dumol@gmx.co.uk
